@model ePro.ViewModels.ProductIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Product Name</th>
        
        <th></th>
    </tr>
    @foreach (var item in Model.Products)
    {
    string selectedRow = "";
    if (item.ProductListingID == ViewBag.ProductID)
    {
        selectedRow = "success";
    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
             </td>
           
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ProductListingID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductListingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductListingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductListingID })
            </td>

            @{ int prodid = item.ProductListingID;}

         </tr>  

    }
</table>


@if (Model.ComplianceForms != null)
{
    <h3>Compliance forms</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Compliance Type</th>
        </tr>
        @foreach (var item in Model.ComplianceForms)
        {
            string selectedRow = "";
            if (item.ComplianceFormID == ViewBag.complianceformID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { ComplianceFormID = item.ComplianceFormID })
                </td>
                <td>
                    @item.ComplianceFormID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ComplianceCategory.Name
                </td>
            </tr>
        }
    </table>
}
@if (Model.Compliances != null)
{
    <h3>
        Current compliance items completed
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @{ int intcounter = 1;}
        @{ bool blnFlg = false;}

        @foreach (var item in Model.Compliances)
        {
            if(item.ComplianceItem !=null)
                    {

                      <tr>
                        <td>
                     
                           @item.ComplianceItem.ItemName
                    
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                         
                        
                        <td>
                           
                            @if (ViewBag.productcp.Count ==0)
                            {
                            @Html.ActionLink("Add Compliance -New entry", "Index", new { compid = item.ComplianceItem.ComplianceItemsID })
                            }
                            else
                            {
                             int rsetcount = ViewBag.productcp.Count;
                             for(int c= 1; c< rsetcount; c++)
                             {
                                
                              foreach (var i in ViewBag.productcp)
                              {

                                 if (i.ComplianceItemsID == item.ComplianceitemsID)
                                  {
                                            @Html.ActionLink("Complies - remove?", "Index", new { compid = item.ComplianceItem.ComplianceItemsID })
                                            @intcounter
                                            blnFlg = true;
                                             break;
                                         }
                                  else if (i.ComplianceItemsID != item.ComplianceitemsID)
                                  {
                                      if (intcounter == item.ComplianceitemsID)
                                      {
                                        @Html.ActionLink("Add Compliance", "Index", new { compid = item.ComplianceItem.ComplianceItemsID })
                                          blnFlg = true;
                                          break;
                                      }
                                     
                                  }




                                 //                if (i.ComplianceItemsID == item.ComplianceitemsID || intcounter % 1==0 )
                                 //                {
                                 //                    @intcounter
                                 //                    @Html.ActionLink("Complies - remove?", "Index", new { compid = item.ComplianceItem.ComplianceItemsID })
                                 //

                                 //                }
                                 //                else if (i.ComplianceItemsID != item.ComplianceitemsID || intcounter % 2 == 0)
                                 //               {
                                 //                   @intcounter
                                 //                   @Html.ActionLink("Add Compliance", "Index", new { compid = item.ComplianceItem.ComplianceItemsID })

                                 //                }
                                 intcounter++;
                              }
                              if (blnFlg == true)
                              {
                                  blnFlg = false;
                                  break;
                              }
                             }
                            }
                         </td>
                    </tr>
                    }
            //intcounter++;
        }
    </table>
   
}    